<!-- core/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Omniroom</title>
    </head>
    <body>
	    <video id="stream" autoplay playsinline>Your browser doesn"t support video</video>
        <script>
            var commandsMapping = {
                "JOINED_CLIENT": onJoined,
                "UPDATE_CAMERAS": onUpdateRequested,
                "SERVER_ERROR": onServerError,
                "MESSAGE": onMessage,
                "SDP_OFFER": onSDPOffer,
            }

            var uuid;

            var connections = [];

            var socket;
            window.onload = function(){
                connect();
            }
            function connect() {
                socket = new WebSocket("ws://" + window.location.host);

                socket.onopen = function(e) {
                    console.log("WebSocket connection opened");
                    join();
                };

                socket.onclose = function(e) {
                    console.log("WebSocket connection closed");
                    setTimeout(connect, 2000);
                };

                socket.onmessage = function(e) {
                    var data = JSON.parse(e.data);
                    console.debug(data);
                    try {
                        commandsMapping[data.command](data);
                    } catch(err) {
                        onError(err, data);
                    }
                };
            }

            function onError(err, data) {
                console.error("Client error:");
                console.error(err);
            }

            function onServerError(data) {
                console.error("Server error:");
                console.error(data.error);
            }

            function join() {
                socket.send(JSON.stringify({
                    "command": "JOIN_CLIENT"
                }));
            }

            function onJoined(data) {
                identifier = data.identifier;
                console.log("JOINED: " + identifier);
            }

            function onUpdateRequested(data) {
                console.log("CAMERAS UPDATE REQUESTED");
                socket.send(JSON.stringify({"command": "CALL", "identifier": "test"}));
            }

            function onMessage(data) {
                console.log("MESSAGE");
                console.log(data["message"])
            }

            function onSDPOffer(data) {
                console.log("SDP OFFER");
                console.log(data["offer"])
                peer_connection.setRemoteDescription(sdp).then(() => {
                    if (sdp.type != "offer")
                        return;
                    while (ice_candidate_queue.length > 0) {
                        var candidate = ice_candidate_queue.shift();
                        peer_connection.addIceCandidate(candidate).catch(setError);
                    }
                    peer_connection.createAnswer().then((desc) => {
                        peer_connection.setLocalDescription(desc).then(function() {
                            sdp = {
                                "command": "SDP_ANSWER",
                                "identifier": data["identifier"],
                                "offer": peer_connection.localDescription
                            }
                            ws_conn.send(JSON.stringify(sdp));
                        });
                    }).catch(setError);
                }).catch(setError);
            }

            //===========================STREAM=================================
            // Override with your own STUN servers if you want
            var rtc_configuration = {iceServers: [{urls: "stun:stun.services.mozilla.com"},
                                                  {urls: "stun:stun.l.google.com:19302"}]};

            function createCall(data) {
                // Reset connection attempts because we connected successfully
                connect_attempts = 0;

                console.log("Creating RTCPeerConnection");

                connections[msg = new RTCPeerConnection(rtc_configuration);
                send_channel = peer_connection.createDataChannel("label", null);
                send_channel.onopen = handleDataChannelOpen;
                send_channel.onmessage = handleDataChannelMessageReceived;
                send_channel.onerror = handleDataChannelError;
                send_channel.onclose = handleDataChannelClose;
                peer_connection.ondatachannel = onDataChannel;
                peer_connection.ontrack = onRemoteTrack;
                /* Send our video/audio to the other peer */

                peer_connection.onicecandidate = (event) => {
                    // We have a candidate, send it to the remote party with the
                    // same uuid
                    if (event.candidate == null) {
                        console.log("ICE Candidate was null, done");
                        return;
                    }
                    socket.send(JSON.stringify({"command": "CLIENT_MSG", "identifier": "test", "message": {"ice": event.candidate}}));
                };

                setStatus("Created peer connection for call, waiting for SDP");
            }

            function getVideoElement() {
                return document.getElementById("stream");
            }

            // SDP offer received from peer, set remote description and create an answer
            function onIncomingSDP(sdp) {
                peer_connection.setRemoteDescription(sdp).then(() => {
                    setStatus("Remote SDP set");
                    if (sdp.type != "offer")
                        return;
                    setStatus("Got SDP offer");
                    while (ice_candidate_queue.length > 0) {
                        var candidate = ice_candidate_queue.shift();
                        peer_connection.addIceCandidate(candidate).catch(setError);
                    }
                    peer_connection.createAnswer().then(onLocalDescription).catch(setError);
                }).catch(setError);
            }

            // Local description was set, send it to peer
            function onLocalDescription(desc) {
                console.log("Got local description: " + JSON.stringify(desc));
                peer_connection.setLocalDescription(desc).then(function() {
                    setStatus("Sending SDP answer");
                    socket.send(JSON.stringify({"command": "CLIENT_MSG", "camera": "test", "sdp": peer_connection.localDescription}));
                });
            }

            // ICE candidate received from peer, add it to the peer connection
            function onIncomingICE(ice) {
                var candidate = new RTCIceCandidate(ice);
                if(!peer_connection){
                    // put candidate on queue
                    ice_candidate_queue.push(candidate);
                }
                else {
                    peer_connection.addIceCandidate(candidate).catch(setError);
                }
            }

            const handleDataChannelOpen = (event) =>{
                console.log("dataChannel.OnOpen", event);
            };

            const handleDataChannelMessageReceived = (event) =>{
                console.log("dataChannel.OnMessage:", event, event.data.type);

                setStatus("Received data channel message");
                if (typeof event.data === "string" || event.data instanceof String) {
                    console.log("Incoming string message: " + event.data);
                    var textarea = document.getElementById("text")
                    textarea.value = textarea.value + "\n" + event.data
                } else {
                    console.log("Incoming data message");
                }
                send_channel.send("Hi! (from browser)");
            };

            const handleDataChannelError = (error) =>{
                console.log("dataChannel.OnError:", error);
            };

            const handleDataChannelClose = (event) =>{
                console.log("dataChannel.OnClose", event);
            };

            function onDataChannel(event) {
                setStatus("Data channel created");
                let receiveChannel = event.channel;
                receiveChannel.onopen = handleDataChannelOpen;
                receiveChannel.onmessage = handleDataChannelMessageReceived;
                receiveChannel.onerror = handleDataChannelError;
                receiveChannel.onclose = handleDataChannelClose;
            }

            function onRemoteTrack(event) {
                if (getVideoElement().srcObject !== event.streams[0]) {
                    console.log("Incoming stream");
                    getVideoElement().srcObject = event.streams[0];
                }
            }
        </script>
    </body>
</html>
